*{
    font-family: 'Roboto', sans-serif;
}

/* header */
/* header{
    border: 1px solid;
} */

#input-product{
    border: 3px solid rgb(247,148,29);
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 79%;
}

#search-btn{
    position: absolute;
    background-color: rgb(247,148,29);
    border-radius: 50%;
    right: 15px;
    height: 50px;
    width: 50px;
    color: #fff;
}

#form-search{
   position: relative;
   left:-15px;
}

#account-cart a{
    color: black;
}

#cart{
    position: relative;
}

#count-product{
    position: absolute;
    display: flex;
    background-color: rgb(0,0,132);
    width: 17px;
    height: 17px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    top: -11px;
    right: -13px;
    color: #fff;
    font-weight: 800;
}

#hotline{
    margin-left: 5px;
    font-size: 13px;
}

#phone-number{
    font-size: 20px;
    color: rgb(0, 0, 132);
}

#phone-number:hover{
    color: rgb(247,148,29);
}

.dropdown-item{
    border-bottom: 1px solid rgb(247,148,29);
    padding: 10px;
}

#dropdown-container{
    padding: 11px 6px;
    width: 200px;
}

#parent-product{
    position:relative;
}


#child-product{
    position: absolute;
    top: 10px;
    right: -130px;
    list-style: none;
    width: 128px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    padding: 2px;
    z-index: 100;
    display: none;
}

#child-product li{
    /* border-bottom: 1px solid rgb(247,148,29); */
    padding: 10px;
}

#child-product li:hover{
    background-color: rgba(191, 191, 191,0.3);
}

.dropdown-menu > a:hover #child-product{
    display: block;
}

.nav-link{
    font-size: 14px;    
}

#top-right{
    padding-right: 60px;
}

/* Change resolution screen */
@media only screen and (max-width:992px) {
    #top-right{
        padding-right: 10px;
    }
    #top-right span{
        display: none;
    }
}



/* footer */
footer{
    font-family: 'Roboto', sans-serif;
}

#section_policy{
    min-height: 124px;
    background-color: rgb(247, 148, 29);
    color: #fff;
}

#section_policy img{
    width: 60px;
    height: 60px;
}

#section_policy span{
    font-weight: 800;
    font-size: 15px;
}

#section_policy p{
    font-size: 14px;
}

.footer-title{
    font-size: 14px;
    font-weight: 700;
    color: rgb(247,148,29);
}

#about-us a{
    color: black;
}

#social-network i{
    color: black;
}

#social-network i:hover{
    color: rgb(247,148,29);
}

#footer-bottom{
    background-color: rgb(51, 51, 51);
    color: #fff;
    height: 64px;
    font-size: 14px;
}

#footer-bottom b{
    color: rgb(247,148,29);
}

#back-to-top{
    position: fixed;
    z-index: 999;
    right: 200px;
    bottom: 50px;
}

#back-to-top div{
    background-color: rgb(247,148,29);
    border-radius: 50%;
    border: 5px solid rgb(252, 213, 167);
    width: 60px;
    height: 60px;
    margin: 4px;
    line-height: 52px;
}

#arrow-up{
    display: inline-block;
    color: #fff;
    margin-left: 15px;
}

#arrow-up:hover{
    color: black;
}

/* Change position of arrow up */
@media only screen and (max-width:1400px) {
    #back-to-top{
        position: fixed;
        z-index: 999;
        right: 35px;
        bottom: 50px;
    }
}