<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <title>Giỏ hàng</title>
    <main>
        <div id="breadcrumb-background">
            <p class="text-center" id="title-page">Giỏ hàng của bạn - Luxenus Furniture</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center" id="bread-crumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" style="color: rgb(247, 148, 29); font-weight: 600;" aria-current="page">Giỏ hàng của bạn - Luxenus Furniture</li>
                </ol>
            </nav>
        </div>
        <h3 style="font-weight: 700;" class="container">GIỎ HÀNG CỦA BẠN</h3>

        <div id="cart_container" class="container">
            <div class="row text-center">
                <div id="div_tag_cover_table_cart" class="col">
                    <table class="table table-borderless">
                        <thead id="thead_cart">
                            <tr class="font-weight-bold">
                                <th></th>
                                <th scope="col">Sản phẩm</th>
                                <th></th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Sản phẩm 1</tdscope=>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td></td>
                            </tr>
                            <!-- <div id="footer_table">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="d-flex ">
                                        <h4>Tổng số thành tiền: </h4>
                                        <h4 class="text-warning">460,000 đ</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button button type="button" class="btn btn-secondary">Tiếp tục mua hàng</button>
                                        <button type="button" class="btn btn-warning">Tiến hành thanh toán</button>
                                    </td>
                                </tr>
                            </div> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
